body {
  background-image: url(/assert/image/national-fast-food-day.avif);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: #b54507;
  padding-bottom: 20px;
  min-height: 100vh;
}

.headName {
  color: rgb(34, 34, 97);
  text-align: center;
  padding-top: 20px;
}

#msg {
  text-align: center;
  color: red;
  display: none;
  margin-bottom: 20px;
}
#items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.singleItem {
  cursor: pointer;
}
#details {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

meal-search{
  margin: 2rem 0;
}
.meal-search cite{
  font-size: 1rem;
}
.meal-search-box{
  margin: 1.2rem 0;
  display: flex;
  align-items: stretch;
}

.list {
  text-align: center;
}

